//  .sidenav-container {
//    height: 100%;
   
//   }
// .sidenav .mat-toolbar {
//   background: rgb(171,166,168);
// background: linear-gradient(180deg, rgba(171,166,168,1) 0%, rgba(170,147,149,1) 42%, rgba(168,103,103,1) 100%);
//  }
//   .mat-toolbar.mat-primary {
//   background-color: rgb(170, 170, 170);
//  }
// .sidenav {
//   top: 0px;
//   bottom: 0px;
//   transform: none;
//   visibility: visible;
//   width: 10%;
//   position: absolute;
//  background: linear-gradient(180deg, rgba(201,201,201,1) 3%, rgba(142,89,89,1) 100%);
//   height: fit-content;
//   opacity: 0.6;
//   border: 0;
//   border-radius: 20;
//   z-index: 2;

// }
// .navlista a:hover {
//   background-color: rgb(174, 200, 200);
//   border: 0;
//   border-radius: 20%;
//   color: black;
// }

$header-bg: #1b1b1b;
$logo-color: orange;
$hover-color: orange;
$text-color: white;
$shadow-color1: #ffa733;
$shadow-color2: #fcce6b;
$font-family-header: 'Special Elite', cursive;

header {
  height: 80px;
  background: $header-bg;
  width: 100%;
  z-index: 12;
  position: fixed;
  opacity: 0.85;
}

nav {
  background: $header-bg;
  padding: 10px;
  width: 100%;

  &::after {
    content: '';
    clear: both;
    display: table;
  }

  .logo {
    float: left;
    color: $logo-color;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding: 0px 10px;
    border-radius: 20px;
    box-shadow: 0 0 5px $shadow-color1, 0 0 5px $shadow-color2;
  }

  ul {
    float: right;
    list-style: none;
    margin-right: 50px;
    position: relative;

    li {
      float: left;
      display: inline-block;
      background: $header-bg;
      margin: 0 5px;

      a {
        color: $text-color;
        text-decoration: none;
        line-height: 70px;
        font-size: 18px;
        padding: 8px 15px;

        &:hover {
          color: $hover-color;
          border-radius: 5px;
          box-shadow: 0 0 5px $shadow-color1, 0 0 5px $shadow-color2;
        }
      }
    }
  }
}

.bg-img {
  height: 100vh;
  width: 100%;
  background: url(https://images.unsplash.com/photo-1542038784456-1ea8e935640e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  background-position: center;
  filter: blur(3px);
}

.header {
  h1 {
    position: absolute;
    top: 20%;
    font-family: $font-family-header;
    font-size: 4.7rem;
    font-weight: 600;
    color: $text-color;
    margin-left: 30px;
  }

  p {
    position: absolute;
    color: $text-color;
    font-size: 2rem;
    top: 40%;
    right: 50%;
    margin-left: 30px;
  }
}
