<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar class="listrub">Menu</mat-toolbar>
    <mat-nav-list class="navlista">
      <a mat-list-item href="#">Recipe</a>
      <a mat-list-item href="#">Juice</a>
      <a mat-list-item href="#">Food</a>
      <a mat-list-item href="#">Deserts</a>
      <a mat-list-item href="/login">Sign in</a>
      <a mat-list-item href="/omoss">About us</a>
      <a mat-list-item href="/signup">Register</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }

      <span>Meza</span>
    </mat-toolbar>
    <main >
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container> -->
<header>
  <nav>
    <div class="logo">Meza</div>
    <ul>
      <li><a href="#">Recipe</a></li>
      <li><a href="#">Juice</a></li>
      <li><a href="#">Food</a></li>
      <li><a href="/omoss">About</a></li>
      <li><a href="/login">Log in</a></li>
      <li><a href="/signup">Sign up</a></li>
    </ul>
  </nav>
</header>
