<footer class="footer">
  <div class="waves">
    <div class="wave" id="wave1"></div>
    <div class="wave" id="wave2"></div>
    <div class="wave" id="wave3"></div>
    <div class="wave" id="wave4"></div>
  </div>

  <ul class="menu">
    <li class="menu__item"><a class="menu__link" href="/login">Log In</a></li>
    <li class="menu__item"><a class="menu__link" href="/omoss">About</a></li>
    <li class="menu__item"><a class="menu__link" href="/signup">Sign Up</a></li>
    
  </ul>
  <p>Login to see more of our Recipes</p>
  <p>&copy;2024 Meza Co | All Rights Reserved</p>
</footer>
