<div class="search-wrap">
  <div class="">
    <input [(ngModel)]="querySearch" type="search" id="default-search" />
    <button type="submit" [disabled]="!querySearch" (click)="onSearch()">
      Search
    </button>
  </div>
  <div class="toogle-wrap">
    <mat-slide-toggle [(ngModel)]="vegan" (change)="onSearch()" class="toggle"
      >Vegan</mat-slide-toggle
    >
    <mat-slide-toggle [(ngModel)]="dairy" (change)="onSearch()" class="toggle"
      >Dairy-free</mat-slide-toggle
    >
    <mat-slide-toggle [(ngModel)]="gluten" (change)="onSearch()" class="toggle"
      >Gluten-free</mat-slide-toggle
    >

  </div>
</div>
