/* You can add global styles to this file, and also import other style files */

html, body { 
  height: 100%; 
  margin: 0;
}


.content {
    
    min-height: calc(100vh - 80px); // Anpassa för höjden på navbar och footer om det behövs
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d6c6c6;
    
  }



